<!--Navbar-->
<mdb-navbar id="#top-section" SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5" mdbStickyHeader>
  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="" routerLinkActive="active-link">
    <img class="ImgLogo" src="http://www.group207.co.il/templates/Group207/images/logo-marin-containers.png" height="40" alt="">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="" routerLinkActive="active-link">Home Page</a></mdb-navbar-brand>
</a>
  <!-- Collapsible content -->
  <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLink="/cont" routerLinkActive="active-link" class="nav-link waves-light" style="margin-left: 95px" mdbWavesEffect>Containers For Sale</a>
          </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<div class="bg">
  <p class="text-center" style="color: white">
      <a class="BigText" style="text-align: top">MARINE</a><br>
      <a class="BigText">CONTAINER</a> <a class="MidText">(1986) LTD</a><br>
      
      
      <select  style="width: 15%" class="browser-default custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
      </select>
      
      

      <select style="width: 15%" class="browser-default custom-select">
          <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select><br>
      <br>
      <a class="btn-floating btn-lg white" routerLink="/cont" routerLinkActive="active-link"><mdb-icon size="4" fas icon="search"></mdb-icon></a>
    </p>
    </div>
    <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
        <iframe class="embed-responsive-item" style="height: 890px" src="https://www.youtube.com/embed/au84nN7q5vE?autoplay=1&mute=1&loop=1&playlist=au84nN7q5vE"
          allowfullscreen></iframe>
      </div> 
    <div class="MarinePic">
      <p class="text-md-left" style="color:gold">
      <a class="AboutTop">About Marine Container</a><br>
      <br>
      <a class="MainAboutText">Marine Containers is specialized in providing empty containers service for shipping companies and ship agents. </a><br>
      <a class="MainAboutText">The service includes: gate check,receiving,cleaning and storage until the container is delivered to the client. </a><br>
      <a class="MainAboutText">Marin Container was and still am a pioneer at keeping the highest standards
          At 1986 was the first off its kind to have an ISO9000 standard.
          </a><br>
      <a class="MainAboutText" >The workers at Marine Container are trained by Israeli and International standard of work with Cooling Containers and as a CARRIER facility.</a><br>
      <a class="MainAboutText">Part of the Marine Containers Facility is the industrial train this allows the company to move containers from Ashdod to Haifa for storage and</a><br>
      <a class="MainAboutText">export purposes</a>   
      </p>
  <img class="MarinePic">
</div>


    
    
    
