@font-face {
    font-family: MyFont;
    src: url('assets/font/zetta_serif-heavy-webfont.woff');
  }
 @font-face{
   font-family: littleFont;
   src: url('assets/font/zetta_sans-book-webfont.woff')
 } 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
